/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.connection {
    width: 285px;
    overflow: scroll;
    position: absolute;
    height: 600px;
    right: 0;
}

.messages div {
    line-height: 28px;
    font-family: 'Architects Daughter', cursive;
}

.peer {
    color: #ab47bc;
    font-weight: 600;
}

.you {
    color: #1a237e;
    font-weight: 600;
}

#gameboard-container {
   width: 1024px;
}

#gameboard {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    border: 5px solid black;
    padding: 20px;
}

.cards ul li {
    height: 200px;
    width: 130px;
    border: 1px solid red;
    margin: 10px;
    float: left;
}

.cards ul li.available {
    -webkit-box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 55px 10px rgba(0,0,0,0.5);
}

.cards ul li.unavailable {
    -webkit-box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,0.75)
}

.cards ul li.selected {
    -webkit-box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,1);
    box-shadow: 0px 0px 55px 10px rgba(0,0,0,1);
}

.card-text {
    margin: 0 5px;
    padding: 1px 8px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 4px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    letter-spacing: 1px;
}

.fire {
    color: #e51c23;
    background-color: #f9bdbb;
}

.water {
    color: #03a9f4;
    background-color: #b3e5fc;
}

.earth {
    color: #ff9800;
    background-color: #ffe0b2;
}

.wood {
    color: #259b24;
    background-color: #a3e9a4;
}

.metal {
    color : #cddc39;
    background-color: #f0f4c3;
}

.light {
    color: #ffeb3b;
    background-color: #fffde7;
}

.dark {
    color: #000000;
    background-color: #9e9e9e;
}



