/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #444;
    font-family: Arial;
    font-size: 15px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #F2C777;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#menu-container {
    height: 100%;
    text-align: center;
}

.important {
    font-size: 15px;
    color: #F2C777;
    margin-bottom: 10px;
}

.warning {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    background-color: #333;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

#pid {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #0C6BA1;
    font-weight: 600;
}

.connection {
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    background: black;
    color: #ddd;
}

.messages {
    border: 1px solid gray;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.messages div,
.messages em {
    padding: 0 10px;
}

.messages em {
    color: #fff;
}

.messages-game {
    height: 50%;
    line-height: 28px;
    font-family: 'Architects Daughter', cursive;
}

.messages-chat {
    height: calc(50% - 30px);
    letter-spacing: 1px;
    color: #00ff00;
    line-height: 20px;
    font-family: 'Handlee', cursive;
}

.messages-input {
    border: 1px solid #fff;
}

.input-chat {
    height: 30px;
    width: calc(100% - 30px);
    padding: 0 5px;
    border: none;
    font: normal 15px/20px 'Handlee', cursive;
    background: #000;
    color: #00ff00;
    letter-spacing: 1px;
}

.icon-chat {
    height: 28px;
    width: 28px;
    padding: 2px;
    vertical-align: middle;
    cursor: pointer;
}

.peer {
    color: #ffd54f;
    font-weight: 600;
}

.you {
    color: #1cffff;
    font-weight: 600;
}

#gameboard {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    background: #ffb69b;
    border: 5px solid black;
    padding: 20px;
    position: absolute;
}

.opp-cards {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.my-cards {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cards ul {
    text-align: center;
}
.cards ul li {
    width: 150px;
    height: 243px;
    border: 5px solid #cac0c0;
    margin: 10px;
    display: inline-block;
}

.cards ul li.available {
    -webkit-box-shadow: 0px 0px 55px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 55px 20px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 55px 20px rgba(0,0,0,0.5);
}

.cards ul li.unavailable {
    /*-webkit-box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,0.75);*/
    /*box-shadow: inset 0px 0px 70px 10px rgba(0,0,0,0.75)*/
}

.cards ul li.hovered,
.cards ul li.selected {
    -webkit-box-shadow: 0px 0px 70px 20px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 70px 20px rgba(0,0,0,1);
    box-shadow: 0px 0px 70px 20px rgba(0,0,0,1);
}

.card-text {
    margin: 0 5px;
    padding: 1px 8px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px 4px;
    -moz-box-shadow: 0 0 10px 4px;
    box-shadow: 0 0 10px 4px;
    font: bold 12px 'Gloria Hallelujah', cursive;
    color: #fff;
    letter-spacing: 1px;
}

.fire {
    background-color: #e51c23;
    /*background-image: url('../images/fire.png');*/
}

.water {
    background-color: #03a9f4;
    /*background-image: url('../images/water.png');*/
}

.earth {
    background-color: #a36100;
    /*background-image: url('../images/earth.png');*/
}

.wood {
    background-color: #259b24;
    /*background-image: url('../images/wood.png');*/
}

.metal {
    background-color : #ffd700; /* gold color */
    /*background-image: url('../images/metal.png');*/
}

.light {
    background-color: #fff;
    -webkit-animation: light 8s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation: light 8s;
    animation-iteration-count: infinite;
    /*background-image: url('../images/light.png');*/
}

.dark {
    background-color: #181818;
    /*background-image: url('../images/dark.png');*/
}

.hover-water {
    background-image: url('../images/hover-water.png');
}

.hover-dark {
    background-image: url('../images/hover-dark.png');
}

/* Chrome, Safari, Opera */
@-webkit-keyframes light {
    0%   {
        color: #f00;
        -webkit-box-shadow: 0 0 10px 4px #f00;
        -moz-box-shadow: 0 0 10px 4px #f00;
        box-shadow: 0 0 10px 4px #f00;
    }
    17%  {
        color: #ff0;
        -webkit-box-shadow: 0 0 10px 4px #ff0;
        -moz-box-shadow: 0 0 10px 4px #ff0;
        box-shadow: 0 0 10px 4px #ff0;
    }
    33% {color: #0f0;
        -webkit-box-shadow: 0 0 10px 4px #0f0;
        -moz-box-shadow: 0 0 10px 4px #0f0;
        box-shadow: 0 0 10px 4px #0f0;
    }
    50%  {color: #0ff;
        -webkit-box-shadow: 0 0 10px 4px #0ff;
        -moz-box-shadow: 0 0 10px 4px #0ff;
        box-shadow: 0 0 10px 4px #0ff;
    }
    67%  {color: #00f;
        -webkit-box-shadow: 0 0 10px 4px #00f;
        -moz-box-shadow: 0 0 10px 4px #00f;
        box-shadow: 0 0 10px 4px #00f;
    }
    84%  {color: #f0f;
        -webkit-box-shadow: 0 0 10px 4px #f0f;
        -moz-box-shadow: 0 0 10px 4px #f0f;
        box-shadow: 0 0 10px 4px #f0f;
    }
    100%  {color: #f00;
        -webkit-box-shadow: 0 0 10px 4px #f00;
        -moz-box-shadow: 0 0 10px 4px #f00;
        box-shadow: 0 0 10px 4px #f00;
    }
}

/* Standard syntax */
@keyframes light {
    0%   {
        color: #f00;
        -webkit-box-shadow: 0 0 10px 4px #f00;
        -moz-box-shadow: 0 0 10px 4px #f00;
        box-shadow: 0 0 10px 4px #f00;
    }
    17%  {
        color: #ff0;
        -webkit-box-shadow: 0 0 10px 4px #ff0;
        -moz-box-shadow: 0 0 10px 4px #ff0;
        box-shadow: 0 0 10px 4px #ff0;
    }
    33% {color: #0f0;
        -webkit-box-shadow: 0 0 10px 4px #0f0;
        -moz-box-shadow: 0 0 10px 4px #0f0;
        box-shadow: 0 0 10px 4px #0f0;
    }
    50%  {color: #0ff;
        -webkit-box-shadow: 0 0 10px 4px #0ff;
        -moz-box-shadow: 0 0 10px 4px #0ff;
        box-shadow: 0 0 10px 4px #0ff;
    }
    67%  {color: #00f;
        -webkit-box-shadow: 0 0 10px 4px #00f;
        -moz-box-shadow: 0 0 10px 4px #00f;
        box-shadow: 0 0 10px 4px #00f;
    }
    84%  {color: #f0f;
        -webkit-box-shadow: 0 0 10px 4px #f0f;
        -moz-box-shadow: 0 0 10px 4px #f0f;
        box-shadow: 0 0 10px 4px #f0f;
    }
    100%  {color: #f00;
        -webkit-box-shadow: 0 0 10px 4px #f00;
        -moz-box-shadow: 0 0 10px 4px #f00;
        box-shadow: 0 0 10px 4px #f00;
    }
}

#actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s;
}

#actions.fadeOut {
    background: transparent;
}

#draw {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    background: #b5ffff;
    border: 5px solid #ff0000;
    border-radius: 25px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen
and (min-width: 320px)
and (max-width: 640px) {
    .messages {
        font-size: 10px;
        line-height: 18px;
    }

    #draw {
        width: 380px;
    }

    .cards ul li {
        width: 72px;
        height: 116px;
        margin: 10px 4px;
    }

    .card-text {
        margin: 0 2px;
        padding: 0 5px;
        font: bold 8px 'Gloria Hallelujah', cursive;
    }
}




