<html>
<head>
    <title>{{title}}</title>

    <!--Meta Tags-->

    <!--Libraries-->
    <script src="/lib/jquery-2.1.3.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/backbone-min.js"></script>

    <!--Network-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/una_js/una.js"></script>

    <link rel="stylesheet" href="/css/room.css"/>
</head>
<body>
<h1>Desktop</h1>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/play">Play</a></li>
    <li><a href="/controller">Controller</a></li>
    <li><a href="/room">Room</a></li>
</ul>
<div class="desktop-container">
    {{{body}}}
</div>
</body>
</html>