<html>
<head>
    <title>{{title}}</title>

    <!--Network-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/una_js/una.js"></script>

    <!--Meta Tags-->
</head>
<body>
<h1>Desktop</h1>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/play">Play</a></li>
    <li><a href="/controller">Controller</a></li>
    <li><a href="/room">Room</a></li>
</ul>
<div class="desktop-container">
    {{{body}}}
</div>
</body>
</html>