<html>
<head>
    <title>Main</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/una_js/una.js"></script>
<h1>Examples</h1>
<ul>
    <li><a href="/screen">Screen</a></li>
    <li><a href="/controller">Controller</a></li>
</ul>
{{{body}}}
</body>
</html>