<div class="content">
    <script src="/lib/virtualjoystick.js"></script>
    <script src="/js/controller.js"></script>

    <h2>{{title}}</h2>

    <div class="join-container">
        <div class="choose-name">
            <div>
                <label for="username">Enter your name</label>
            </div>
            <div>
                <input type="text" id="username"/>
            </div>
        </div>
        <div class="choose-avatar">
            Avatar 1
        </div>
        <div class="choose-play">
            <button type="button" class="btn-play">Play!</button>
        </div>
    </div>

    <div class="joystick-container">
        <div class="joystick-left">
            <div id="joystick"></div>
        </div>
        <div class="joystick-right">
            <div id="btn-a">A</div>
            <div id="btn-b">B</div>
        </div>
    </div>
</div>