<html>
<head>
    <title>{{title}}</title>

    <!--Network-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/una_js/una.js"></script>

    <!--Meta Tags-->
</head>
<body>
<h1>Index</h1>

<div class="desktop-container">
    Desktop
</div>
<div class="mobile-container">
    Mobile
</div>
</body>
</html>